{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/homestyle.css' %}">


<html class="backie">
<!-- navigation bar -->
<li class='nav'>
    <a href="{% url 'homepage' %}"> Home</a>
    <a href="{% url 'blog' %}"> Blog</a>
    <a href="{% url 'portfolio' %}"> Portfolio</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'merch' %}">Merch</a>
</li>

    <h2 class='centered'> Contact Information</h2>
<div class="centered" >
    <h3>Name: Chase Leffers
        <br>Number: 415-640-0019
        <br>Email: Leffers.ch@northeastern.edu
    </h3>
</div>


</html>