{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/homestyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/style1.css' %}">

<html class="backie">


<!-- navigation bar -->
<li class='nav'>
    <a href="{% url 'homepage' %}"> Home</a>
    <a href="{% url 'blog' %}"> Blog</a>
    <a href="{% url 'portfolio' %}"> Portfolio</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'merch' %}">Merch</a>
</li>

<div class="centered neartop">
    <h5>Aspirational Store</h5>
</div>
</html>