
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/homestyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/style1.css' %}">

<!DOCTYPE html>
<html class="backie">

<!-- navigation bar -->
<li class='nav'>
    <a href="{% url 'homepage' %}"> Home</a>
    <a href="{% url 'blog' %}"> Blog</a>
    <a href="{% url 'portfolio' %}"> Portfolio</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'merch' %}">Merch</a>
</li>


<h1 class='neartop centered' style="font-size: 60px; text-align: center; margin: 50px;"> {{post.BlogTitle}} </h1>
<h3 style="position: relative; left: 150px;"> Written by {{post.Author}}</h3>


<h6 class='centered text' id="body" style="font-size: 15px;"> {{post.BlogBody}}</h6>


 <a style="position: relative; left: 150px;"class="button" href=" http://127.0.0.1:8000/blog/">Back to Main Page</a>




 <h3 class="centered">Comments</h3>
{% for comment in post.blogcomment_set.all %}
<h5 class="comment"> {{comment.user_id}}: {{comment.comment_body}}.</h5>
{% endfor %}


</html>